<html>
<head>
    <% include ../partials/head %>
	<style>
	</style>
	<script>
		function setIntervalX(callback, end, delay, repetitions) {
			var x = repetitions;
			var intervalID = window.setInterval(function () {
			   callback(x);
			   if (x-- === 0) {
				   window.clearInterval(intervalID);
				   end();
			   }
			}, delay);
		}
		function getRandomColor() {
			var letters = '0123456789ABCDEF'.split('');
			var color = '#';
			for (var i = 0; i < 6; i++ ) {
				color += letters[Math.floor(Math.random() * 16)];
			}
			return color;
		}

		$(document).ready(function() {
			setIntervalX(function(i) {
				$('#content').append('<span style="color:'+getRandomColor()+'">This page will be reloaded automatically in '+i+' seconds!</span></br>');
			}, function() {
				location.reload();			
			}, 1000, 30);
		});

	</script>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
	<div id="content">
		<p>You see this page because you tried to get report page that doesn't exist yet.</p>
	</div>
    <footer>	
        <% include ../partials/footer %>
    </footer>
</body>
</html>