<html>
<head>
    <% include ../partials/head %>
	<script>
		$(document).ready(function() {
			$('#add_new').click(function() {
				$.ajax({
					method: "POST",
					url: "/addConfig",
					data: $('#configName').val()
				}).done(function(msg) {
					$('#message').html(msg);
				});
			});
		});
	</script>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
	<div id="content">
		<h2>Select config:</h2>
		<ul>
			<% configs.forEach(configName => { %>
				<li><a href="/config?name=<%=configName%>"><%=configName%></a></li>
			<% }); %>
			<li><input type="text" id="configName"/><button id="add_new">New</button></li>
		</ul>
	</div>
    <footer>	
        <% include ../partials/footer %>
    </footer>
</body>
</html>