<html>
<head>
    <% include ../partials/head %>
	<style>
		.delete_button {
			display: none;
			color: grey;
			float: right;
		}
		li:hover .delete_button {
			display: block;
		}
	</style>
	<script>
		function updateConfigList(configs) {
			$('#list .item').remove();
			configs.forEach(config => {
				var listitem = document.querySelector("#list-item").content;
				listitem.querySelector('.name').textContent = config;
				listitem.querySelector('.name').href = "/testInfo/"+config;
				listitem.querySelector('.delete_button').href = "/configs/deleteConfig/"+config;
				document.querySelector('#list').appendChild(document.importNode(listitem, true));
			});
		}
		
		function addConfigAction() {
				var data = {};
				data.configName = $('#configName').val();
				$.ajax({
					method: "POST",
					url: "/configs/config",
					data: JSON.stringify(data),
					contentType: "application/json",
					success: function(result) {
						$('#configName').val("");
						updateConfigList(result);
					},
					error: function(result) {
						$('#error_msg').html(result.responseText);
					}
				});
			}
	
		$(document).ready(function() {	
			$('#add_new').click(addConfigAction);
			$('#add_new_form').submit(addConfigAction);
		});
	</script>
</head>
<body>
	<template id="list-item" >
		<li class="item">
			<a class="name" ></a>
			<a class="delete_button">Delete</a>
		</li>
	</template>
    <header>
        <% include ../partials/header %>
    </header>
	<div id="content">
		<p>
			<a href="/results">Results</a>
		</p>
		<h2>Select config:</h2>
		<ul id="list">
			<li>
				<form id="add_new_form">
					<input id="configName" type="text" name="configName" />
					<input id="add_new" type="button" value="New" />
					<span id="error_msg"></span>
				</form>
			</li>
			<% configs.forEach(configName => { %>
				<li class="item">
					<a href="/testInfo/<%=configName%>"><%=configName%></a> 
					<a class="delete_button" href="configs/deleteConfig/<%=configName%>">Delete</a>
				</li>
			<% }); %>
		</ul>
	</div>
    <footer>	
        <% include ../partials/footer %>
    </footer>
</body>
</html>