<html>
<head>
    <% include ../partials/head %>
	<style>
	</style>
	<script>
		$(document).ready(function() {	});
	</script>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
	<div id="content">
		<h2>Results:</h2>
		<ul>
			<% results.forEach(result => { %>
				<li>
					<a href="/results/page/<%=result.folder%>"><%=result.folder%></a>
				</li>
			<% }); %>
		</ul>
	</div>
    <footer>	
        <% include ../partials/footer %>
    </footer>
</body>
</html>