<div *ngIf="tree">
	<table>
	<tr>
		<td class="title">
		<h4>
			<input type="checkbox" (click)="toggleTree()" />
			<span (click)="toggleMenu()">
				{{tree.$['name']}}
				<i>
					<small style="font-weight:normal;">{{tree.$["type"]}}</small>
				</i>
			</span>
		</h4>
		</td>
		<td *ngFor="let browser of browsers" class="browser">
			<img src="/images/browsers/{{browser.name}}.png"
				[class.unchecked]="!browser.checked"
				(click)="toggleBrowser(browser) " />
		</td>
	</tr>
	</table>

	<!--ul [@visibilityChanged]="visibility"-->
	<ul [class.hide]="!isVisible">
		<ng-template [ngIf]="tree['test-suite'] && tree['test-suite'][0]['$']['type'] !== 'TestCase'">
			<li *ngFor="let subtree of tree['test-suite']">
				<tree-view [tree]="subtree" [browsers]="browsers"></tree-view>
			</li>
		</ng-template>

		<li *ngIf="tree.$['type'] === 'ParameterizedFixture'">
			<fixture [fixture]="tree"></fixture>
		</li>
	</ul>
</div>